<head>
  <%-include("./partials/head")-%>
</head>

<body class="bg-gray-50">
  <div class="mr-8"><%-include("./partials/hero")-%></div>
  <div class="mr-8"><%-include("./partials/subject")-%></div>
  <div class="mr-8"><%-include("./partials/important")-%></div>
  <div class="mr-8"><%-include("./partials/disclaimer")-%></div>
  <!-- <div class="mr-8 mb-12"><%-include("./partials/hero")-%></div> -->
</body>

<!-- <footer class="justify-end"><%-include("./partials/footer")-%></footer> -->
